In [71]:
print(14)

14

In [4]:
import requests
import json
from io import StringIO
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
df = pd.read_csv('ASML.csv',parse_dates = ["Date"],index_col = 0).dropna()
df_plot = df[{'Open','High','Low','Close'}]
df_plot.tail()

                   Low        Open        High       Close
Date
2021-03-05  508.329987  527.969971  530.849976  527.039978
2021-03-08  501.109985  526.440002  529.169983  502.190002
2021-03-09  524.950012  527.640015  543.210022  539.520020
2021-03-10  521.109985  540.080017  541.820007  523.330017
2021-03-11  540.010010  546.989990  548.489990  544.400024

In [73]:
type(df)

pandas.core.frame.DataFrame

In [74]:
df['Close'].rolling(10).mean()

Date
2020-03-10           NaN
2020-03-11           NaN
2020-03-12           NaN
2020-03-13           NaN
2020-03-16           NaN
                 ...
2021-03-03    574.361005
2021-03-04    567.163007
2021-03-05    560.427002
2021-03-08    552.796002
2021-03-09    549.141004
Name: Close, Length: 252, dtype: float64